*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline;
	margin-right: 30px;  
}
a{
	text-decoration: none;
	color: #555555
}
p{
	color: #555555
}
.container{
	height: 700px;
	max-width: 100%;
	margin: auto;
}
.header{
	background: radial-gradient(#ffffff,#CAF5FC);
	display: flex;
	align-items: center;
	justify-content: center;
}	
.slider{
	width: 1000px;
	overflow: hidden;	
}
.slides{
	display: flex; 
	width: 100%;
}
.slides input{
	display: none;
}
.slides img{
	width: 100%;
	height: 350px;
	transition: all 0.15s ease;
}
.dots {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.dots label{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 2px solid black;
	cursor: pointer;
	transition: 1s;
	margin: 10px;
}
.dots label:hover{
	background: black;
}
/* navigation*/
#radio1:checked ~ .m1 {
	margin-left: 0;
}
#radio2:checked ~ .m2 {
	margin-left: -100%;
}
#radio3:checked ~ .m3 {
	margin-left: -200%;
}
/* bagian category*/
.categories{
	margin: 50px 0;
}
.col-3{
	float: left;
 	width: 33.33%;
  	padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1000px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	float: left;
 	width: 25%;
  	padding: 10px;
	margin-bottom: 50px;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	padding-bottom: 50px;
	margin: 0;
	position: relative;
	line-height: 100px;
}
.title::after{
	content: '';
	background: #CAF5FC;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 75px;
	left: 50%;
	transform: translateX(-50%);
}
.btn{
	background: #3CA8F4;
	color: #ffffff;
	border-radius: 30px;
	padding: 7px 35px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;	
}
.btn-load{
	margin-top: -25px;
	margin-bottom: 120px;
}
.btn-about{
	margin-top: -25px;
	margin-bottom: 120px;
}
.col-2{
	float: left;
 	width: 50%;
  	padding: 50px;
}
.col-2 img{
	margin-top: 50px;
	width: 100%;
}
.special{
	background: radial-gradient(#ffffff,#CAF5FC);
	margin-top: 80px;
	padding: 30px 0;
}
.btn-special{
	text-align: center;
	margin-top: 30px;
	margin-left: 15px;
	position: relative;
}
.col-2 p {
	margin-top: 120px;
}

/* testimonial */
.testimonial{
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 10px 20px 0px rgba(0,0,0,0,1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	font-size: 30px;
	color: #3CA8F4;
}
i{
	color: #3CA8F4;
}
.col-3 p{
	font-size: 15px;
	color: #777777;
}
.testimonial .col-3 h3{
	font-weight: 600;
	font-size: 20px;
	color: black;
}
.fa.fa-shopping-bag{
	color: black;
	margin-left: -14px;
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}

/*footer*/
.footer{
	/*margin-top: 50px;*/
	/*height: 380px;*/
	background: radial-gradient(#ffffff,#CAF5FC);
}
.footer .col-3{
	margin-top: 30px;
	float: left;
 	width: 33.33%;
  	padding: 10px;
}
.method{
	margin-left: -100px;
}
.jasa{
	margin: auto;
}
.media{
	margin-left: 100px;
}
.footer .col-3 img{
	width: 90px;
	padding: 5px;
}
/* icon follow us*/
.media .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.media .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/* copyright*/
.footer hr{
	border:none;
	background: black;
	height: 1px;
	margin: 20px;
}
.copyright{
	text-align: center;
	color: black;
}
/* about */
.about{
	margin-top: 50px;
	text-align: center;
}
.about hr{
	border:none;
	background: black;
	height: 1px;
	margin: 50px;
}
.btn-about{
	margin-top: 20px;
}

/* css for product html*/
.row{
	display: flex;
}
.row-2{
	justify-content: space-between;
	margin: 50px auto;
}
.select{
	border: 1px solid black;
	padding: 5px; 
}

/* pagination */
.page-btn{
 	margin: 0 auto 80px; 
}
.page-btn span{
	display: inline-block;
	border: 1px solid black;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	line-height: 40px; 
}
.page-btn span:hover{
	background: #3CA8F4;
	color: #ffffff;

}

/* tombol tambah keranjang && Single Product*/ 
.btn-cart{
	background: #3CA8F4;
	color: #ffffff;
	border-radius: 30px;
	padding: 7px 35px;
	margin-top: 15px;
	left: 63%;
	transform: translateX(-63%);
	position: absolute;	
}
.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 30px;
}
.single-product .col-2 p{
	display: absolute;
	margin-top: 50px;
	margin-bottom: 10px;
}
.single-product h4{
	margin-bottom: 20px; 
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	margin-top: 20px;
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 1px solid black;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	margin-top: -50px;
	flex-basis: 24%;
	cursor: pointer;
}
.warna{
	margin: 0 auto 20px; 
}
.warna span{
	display: inline-block;
	border: 1px solid black;
	width: 80px;
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	line-height: 40px; 
}
.warna span:hover{
	background: #3CA8F4;
	color: #ffffff;

}

/* css buat halaman keranjang */
.cart-page{
	margin: 80px auto;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: white;
	background: #3CA8F4;
	font-weight: normal;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #3CA8F4;
	font-size: 12px;
}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

table{
	width: 100%;
	border-collapse: collapse: 
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	text-align: right;
	border-top: 3px solid #3CA8F4;
	width: 100%
	max-width: 400px;
}
td:last-child{
	text-align: right;
}
th:last:child{
	text-align: right;
}
/* query for menu */
@media only screen and (max-width: 1000px){
	nav ul {
		position: absolute;
		top: 120px;
		left: 0;
		background: #333333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: : 50px;
		margin-top: 10px;
		margin-bottom: 10px; 
	}
	nav ul li a{
		color: white;
	}
	.menu-icon{
		display: block; 
		cursor: pointer;	
	}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;  
  }
  [class*="slider"] {
    width: 100%;  
  }
  [class *="header"] {
      width: 100%;
  }
  [class *="footer"] {
      width: 100%;
      height: 100%;
  }
  [class *="btn-special"] {
      width: 100%;
      margin: 0;
  }
  [class *="p"] {
  		text-align: center;
  }
  [class *="method"] {
  		margin: auto;
  }
  /*[class *="single-product"] {
  		margin: auto;
  }
  [class single-product="row"] {
  		text-align: left;
  }
  [class single-product="col-2"] {
  		padding: 20px 0;
  }
  [class single-product="h1"] {
  		font-size: 26px;
  	line-height: 22px;
  }
  .single-product .row{
  	text-align: left;
  }
  .single-product .col-2{
  	padding: 20px 0;
  }
  .single-product h1{
  	font-size: 26px;
  	line-height: 22px;
  }*/
}